/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* font-family: tbd; */
    background: white; 
    color: #333; 
    line-height: 1.5; 
    padding: 20px; 
}

header, footer {
    background: #3b4550; 
    color: white; 
    margin-top: 30px;
    padding: 10px 20px; 
    text-align: center; 
}

header .top-menu ul {
    position: absolute;
    right: 25px; 
    top: 15px;
    bottom: 15px;
    list-style: none;
}

header .top-menu ul li {
    display: inline;
    margin-left: 10px;
}

header .top-menu ul li a {
    text-decoration: none;
    color: #3b4550;
    font-weight: lighter;
    font-size: 13px;
    padding: 0.5rem;
    border-radius: 5px;
}

nav {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

nav > ul {
    list-style: none;
    padding: 0;
    min-width: 150px;
}

nav ul li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 5px;
    display: block;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555;
    color: #ffd700;
}

main {
    margin-top: 20px; 
}

fieldset {
    border: 2px solid #3b4550; 
    margin: 20px 0; 
    padding: 20px; 
    background: white; 
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 22px); /* Full width - padding */
    padding: 10px; /* Padding inside inputs */
    margin-bottom: 10px; 
}

.radio-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.radio-container label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.radio-container label img {
    display: block;
    height: 4.37rem;
    background: transparent;
    transition: filter 0.3s ease;
    transition: transform 0.8s ease;
}

.radio-container label img:hover {
    transform: scale(1.35);

}

.radio-container input[type="radio"]:checked + label img {

    filter: drop-shadow(0 0 15px green);
}

button {
    background: #3b4550; 
    color: white;
    border: none; 
    padding: 10px 20px; /* Padding around text in button */
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background: #456282; 
}

footer {
    margin-top: 20px; 
    font-size: 10px; 
}